.Project
{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.Project > form
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.NonTechDiv {
    width: max-content;
}

.NonTechDiv > * {
    width: max-content;
}

.FormInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ProjectTech {
    width: max-content;
}

.EditingButtons {
    margin-left: 20px;
}

/*===============================*/

.ProjectDetails {
    padding: 5px;
}

.ProjectDetails > h1, h2{
    padding: 5px;
}

.DescriptionUL {
    list-style-type: circle;
    list-style-position: inside;
}