a
{
  text-decoration: none;
  color: inherit;
}

.AllProjects
{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.ProjectCard
{
  width: 400px;
  height: 115px;
  margin: 5px;
  padding: 5px;
  min-height: 100px; 
  border: 2px solid black;
  border-radius: 5px;
  display: block;
}

.ProjectCard > p
{
  margin-left: 5px;
}

.NewProjectBtn {
  margin: 5px;
}

.ProjectCardsContainer {
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 75vh;
  width: 75vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}