*
{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.NavButton {
  background-color: blueviolet;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: max-content;
}

.NavButton > * {
  color: white;
}

.NavButton > h2 {
}